body {
    background-image: url("bgpic.jpg");
    background-repeat: no-repeat;
    background-size :cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: rgba(223, 176, 186, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.5vw;
    align-items: center;
    opacity: 0.9;  
}

.logo {
    height: 4vw;
}

.heading {
    color: red;
    font-weight: bold;
    font-size: 1.56vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
}

.red {
    position: absolute;
    right : 1.5vw;
}

.redline {
    height: 4vh;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 0.5vw;
    top: 6.5vw;
    font-size: 1.56vw;
    color: red;
    background-color: white;
    opacity: 0.99;
    width: 20vw;
    display: none;

    
}

.option {
    text-align: center;
    border-bottom: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    cursor: pointer;
}




